:root {
    --body-bg: #fff;
    --body-fg: #000; /*666*/
    --header-fg: #888;
    --separator: #ccc;
    --bq-border: #e5e5e5;
    --a-fg: #2244BB;
    --code-border: #ddd;
    --code-bg: #f8f8f8;
    --code-fg: #424242;
}

code {
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid var(--code-border);
    border-radius: 4px;
    background-color: var(--code-bg);
    color: var(--code-fg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #222;
        --body-fg: #d8d8d8; /*666*/
        --header-fg: #aaa;
        --separator: #666;
        --bq-border: #1a1a1a;
        --a-fg: #78dce8;
        --code-border: #444;
        --code-bg: #333;
        --code-fg: #ddd;
        --red: #ff6188;
        --green: #a9dc76;
        --yellow: #ffd866;

    }

    code {
        color: var(--green);
        padding: 0;
        margin: 0;
        border: none;
        background-color: var(--body-bg);
    }
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    /* font-size: 62.5%; */
}
body {
    padding: 20px 0 20px 0;
    font-size: 18px;
    line-height: 1.5;
    color: var(--body-fg);
    background-color: var(--body-bg);
}
p {
    margin: 0 0 20px;
}
h1, h2, h3 {
    position: relative;
    margin: 30px 0 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    text-rendering: optimizeLegibility;
}

h1 a, h2 a, h3 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none;
}

.content h1:before, .content h2:before, .content h3:before {
    margin-left: -3ch;
    width: 3ch;
    display: inline-block;
    position: absolute;
    font-weight: normal;
    font-variant-ligatures: none;
}

.content h1:before {
    content: "#";
}

.content h2:before {
    content: "##";
}

.content h3:before {
    content: "###";
}

i, em, b, strong {
    padding-left: .1em;
    padding-right: .1em;
}
b, strong {
    font-weight: bold;
}
hr {
    margin: 0;
    border: 0;
}
hr:after {
    display: block;
    margin: 20px 0;
    content: "----------------------------------------------------------------";
    color: var(--separator);
}
ul, ol {
    list-style: inside square;
    padding: 0;
    margin: 0 0 20px;
}
code, pre {
    font-family: monospace;
    font-size: 16px;
}

pre {
    color: #eee;
    display: block;
    margin: 0 0 14px;
    padding: 15px 0 15px 0;
    border-radius: 5px;
    background-color: #1a1a1a;
    font-size: 14px;
    overflow: auto;
}
blockquote {
    padding: 0 0 0 20px;
    margin: 0 30px 20px -22.5px;
    border-left: 8px solid var(--bq-border);
}
blockquote p:last-child {
    margin-bottom: 0;
}
img {
    display: block;
    margin: 0;
    border-radius: 5px;
}
a {
    font-weight: inherit;
    line-height: inherit;
    color: var(--a-fg);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
table {
    line-height: 2.5;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
}
table td, table th {
    padding: 0 15px;
}
table th.left, table td.left {
    text-align: left;
}
table th.right, table td.right {
    text-align: right;
}
.content, .status {
    margin: 0 auto;
    max-width: 800px;
}
#preamble {
    color: var(--header-fg);
    font-family: monospace;
}
#preamble:after {
    display: block;
    content: '----------------------------------------------------------------';
    margin: 10px 0;
    color: var(--separator);
}
#preamble a {
    color: var(--body-fg);
}
#preamble ul {
    list-style: none;
}
#preamble li {
    display: inline-block;
}
#preamble li + li:before {
    display: inline-block;
    content: "\00B7 \00a0";
    color: var(--separator);
}

.content:after {
    font-family: monospace;
    display: block;
    content: "----------------------------------------------------------------";
    color: var(--separator);
}
.content img {
    max-width: 100%;
}
.content ol {
    counter-reset: o-list;
}

.content pre li {
    list-style-type: decimal;
}

.content pre li:before {
    display: none;
}

.post-info {
    display: inline-block;
    margin: -10px 0 -10px;
    color: #999;
}
.post-info + .post-info:before {
    content: "\2223 \00a0";
}

#postamble {
    font-size: 14px;
    font-family: monospace;
}

#postamble:after {
    font-size: 18px;
    content: "----------------------------------------------------------------";
    display: block;
    margin-top: -1px;
    color: var(--separator);
}

@media (min-width: 768px) {
    body {
        padding: 30px;
        font-size: 18px;
        line-height: 1.75;
    }

    h1:before, h2:before, h3:before {
        display: inline;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 30px;
    }
}
